body {
	-webkit-text-size-adjust: none;
}

@media (min-width:980px) {
	body { 
		padding-top: 60px; 
	}
}

.btn {
	vertical-align: middle; /* ensure buttons line up even when they are different tag types [a, button] */
}

/* index page */

img#github-ribbon {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
	z-index: 1030; /* no idea where this comes from, lowest value that works */
}

@media (max-width: 768px) {
	/* prevent the brand name wrapping or overlapping the menu toggle */
	.navbar .brand {
		max-width: 75%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.hero-unit {
		padding: 20px;
	}

	#application-status {
		display: none;
	}
}

/* list pages */

table td.link {
	white-space: nowrap;
}

table thead th {
	white-space: nowrap;
}

/* icons for sorted column headers */

table th.asc a:after,
table th.desc a:after {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 0.3em;
	vertical-align: text-top;
	background-image: url(../img/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

table th.asc a:after {
	background-position: -289px -96px;
}

table th.desc a:after {
	background-position: -312px -96px;
}

/* optimized display for small devices */

@media (max-width:480px) {
	table thead, table td { 
		display: none;
	}
	
	table tr:first-child td {
		border-top: none;
	}
	
	table td:first-child, table td:last-child {
		display: table-cell;
		vertical-align: middle;
	}
	
	table td:last-child {
		text-align: right;
	}
}

/* error page */

pre.snippet code.line {
	border: none;
	display: block;
}

pre.snippet .lineNumber {
	display: inline-block;
	width: 3em;
}

pre.snippet .error {
	font-weight: bold;
}


/* Aparte de las hojas de estilo por defecto, a continuación la personalización manual: */

/* Redefine .nav-tabs para que podamos aplicar el centrado: */
.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

/* Aplicamos el centrado: */
.centrado-redefinido {	
	text-align:center;
}

/* Hay que ponerlo en el class de la etiqueta padre de centrar-verticalmente o posicionar-verticalmente-abajo */
.padre-de-posicionar-verticalmente {
position: relative;
}

.centrar-verticalmente {	
  position: absolute;
  top: 50%;
  height: 6em;
  margin-top: -3em;  
}

.posicionar-verticalmente-abajo {	
	position: absolute; 
	bottom: 0; 	
	margin-bottom: 2%
}

/* Se usa en el menú de navegación (layouts/bootstrap.gsp) cuando no estamos en ninguno de los links; es una rallita pequeña encima del link Página de Inicio */
.linea-horizontal {	
	width:20%;	
	margin-top:0px;
	margin-bottom:0px;	
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	margin-left: auto;
	margin-right: auto;
}


/* Botón logout */
.logout {
	margin-right:10px;
	margin-top:-10px;
}


/* Centra el texto de todas las tablas */
.table td, .table th {
   text-align: center;  
   
}


/* Personalización de Bootstrap Twitter Carousel */
.carousel-inner {
	
	text-align: center;
	height: 360px;	
}

.carousel {
	width:900px; 
	height:250px;
/* 	margin-top:-45px; */
	
}

.centrar-imagen {   
	display: block;
    margin-left: auto;
    margin-right: auto;	
}

/* Esta tres líneas cambian el efecto de desplazar las imágenes (por defecto) a disolver: */
.carousel .item {-webkit-transition: opacity 1.5s; -moz-transition: opacity 1.5s; -ms-transition: opacity 1.5s; -o-transition: opacity 1.5s; transition: opacity 1.5s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.carousel-caption h4 {
	font-size:100%; 
	color: #1C1C1C;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E88625, 0 0 30px #E88625, 0 0 40px #E88625, 0 0 50px #E88625, 0 0 75px #E88625;	
}

.carousel-caption {
  background: transparent;
  padding-bottom:0px; 
 top: 0;
  
  
  

}
/* FIN de personalización de Bootstrap Twitter Carousel */


/* Se usa en el footer (layouts/bootstrap.gsp) */
.linea-horizontal-footer {
	width:90%;	
	margin-top:20px;
	margin-bottom:5px;	
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0.20)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0.20)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0.20)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0.20)); 
	margin-left: auto;
}	

.logo-esn-cool{
 	margin-top:-17px; 
	float:left;
}

.footer-texto-creador{
	color: #15447C;
}

/* Twitter Bootstrap Modal, efecto cambiado de abajo a arriba */
.modal.fade {
  top: 200%;  
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 25%;
}

.addBordes {
	border: 1px solid #eee;
}

.margenesAyuda {
	padding-bottom: 15px;
	margin-top: -20px;
}

.misma-linea-contenedor{
	float:left;
	width:100%;
}

.misma-linea-A {	
	float:left;	
}

.misma-linea-B {
	margin-top:5px;
	margin-left:10px;
	float:left;
}

.misma-linea-A-forzada {
	height:0;
}

.misma-linea-B-forzada30 {
	margin-left: 215px !important;
	margin-bottom: 30px !important;
}


.posicionar-derecha {   
 	display: block; 
    margin-left: auto;   
}

/* Para que el botón logout esté por encima: https://bitbucket.org/chelder86/webalojamientouca/issue/56/twitter-bootstrap-superpone-el-men */
.situartransparente-capa-superiora-carousel {
	position:relative;
	height:0px;
	z-index: 1; /* 9999 capa superior, 0 capa inferior (por defecto). Con 1, parece que siempre está por encima en la web ya*/
}

